

.campus-container {
  background-color: lightblue;
  display: flex
}


.campuses-display {
  background-color: pink;
  flex: 2;
}



img {
  width: 75px;
  height: 75px;
}

.edit-campus-display {
  background-color: lightseagreen;
  flex: 2;
}

/* replaces edit-campus display  */
.single-campus-display {
  flex: 2
}



.campus-icon {
  width: 10em;
  background-color: #C1B5AD;
  margin: 2em;
}



.student-list-display {
  background-color: rebeccapurple;
  margin: 1em;
}
.student-flex-display {
  background-color: green;
  -moz-text-decoration-color: orange;
}

/* just the student table  */
.students-table {
  background-color: greenyellow;
  padding: 2em;
  margin: 4em;

}






