

.campus-container {
  background-color: goldenrod;
  max-width: 70%;
  display: flex;
}

.campuses {
  flex: 3;
  background-color: green;
  margin: 1em;
}

.student-list {
  background-color: rebeccapurple;
  margin: 1em;
}

.student-list-container {
  flex: 2;
  background-color: grey;
  margin: 1em;
}

/* .campus {
  flex: 2;
  background-color: #C1B5AD;
  margin: 2em;
} */



/* just the student table */
.students-table {
  background-color: greenyellow;
  padding: 2em;
  margin: 4em;
  flex: 2;
}

/* wrapper around Students Home */
.students-container {
display: flex;
}

/* form for adding people */
.add-person {
  flex: 1;
  max-width: 30%;
  background-color: lightblue
}

