


/* list of all campuses sits below campus container */
/* the presentational component */
.campuses-display {
  display: flex;
  background-color: lightblue;
  margin: 1em;
}

/* wrapper around the addd campus component */
.add-campus-display {
flex: 3;
background-color: orange;

}

.student-list-display {
  background-color: rebeccapurple;
  margin: 1em;
}


.campus-icon {
  width: 20em;
  background-color: #C1B5AD;
  margin: 2em;
}

/* .student-list-container {
  flex: 2;
  background-color: grey;
  margin: 1em;
} */

/* just the student table  */
.students-table {
  background-color: greenyellow;
  padding: 2em;
  margin: 4em;
  flex: 2;
}

wrapper around Students Home
.students-container {
display: flex;
background-color: lightcoral;
}

/* form for adding people */ */
 .add-person {
  flex: 1;
  max-width: 30%;
  background-color: lightblue
}

